<html>

  <head>
    <title>My File </title>
    <link href="/style.css" type="text/css" rel="stylesheet" />
  </head>

  <body>
  
    <div class="header">
      <div class="logo">
      </div>
      <p class="title"> ShareKnowledge </p>
      <div class="menubar">
       <ul>
          <a href="/search"><li>Search </li></a>
          <a href="/share"><li>Share</li></a>
          <a href="/myfile"><li>My File</li></a>
          <a href="/logout"><li>Logout</li></a>
        </ul>
      </div>
    </div>

    <div class="container">
      <div class="search">
        <input type="text" name="search">
        <input type="submit" name="btmsearch" value="Search">
      </div>
      <div class="searchmenu">
        <ul>
          <a href="/all"><li>All </li></a>
          <a href="/video"><li>Videos</li></a>
          <a href="/image"><li>Images</li></a>
          <a href="/pdf"><li>PDFs</li></a>
          <a href="/links"><li>Links</li></a>
        </ul>
      </div>
      <div class="searchresult">
        <ul>
          <%temp=0%>
          <%if(file != nil)%>
            <%file.each do|file_result| %>
              <%my_file.each do|my_file_result|%>
                <% if(file_result.id==my_file_result.share_file_id)%>
                <%filename=file_result.file_file_name%>
                <div class="eachresult">
                <li><b><%=filename%></b></li>
                <li><a href="/files/original/<%=filename%>"><%=file_result.file_file_name %></a></li>
                </div>
                <%temp=1%>
                <%end%>
              <%end%>
            <%end%>
          <%end%>
        </ul>
        <%if(temp==0)%>
          <p>File not found </p>
        <%end%>
      </div>
    </div>

    <div class="footer">
      <div class="location">
        <p>Location</p>
        <p>Kathmandu, Nepal</p>
      </div>
      <div class="contact">
        <p> Contact No.</p>
        <p>+977 9818451794</p>
      </div>
      <div class="website">
        <p>Website</p>
        <p>www.jyaasa.com</p>
      </div>
      <div class="social">
        <a href="https://www.facebook.com/pages/Jyaasa/879593435386987" target="_blank">
          <img src="facebook.jpg">
        </a>
        <a href="https://twitter.com/jyaasa" target="_blank">
          <img src="twitter.jpeg">
        </a>
        <a href="https://plus.google.com/105348084839677139527" target="_blank">
          <img src="google.jpg">
        </a>
      </div>
      <div class="copyright">
        <p>© 2014-2015 jyaasa. All rights reserved.</p>
      </div>
    </div>

  </body>

</html>