<html>

  <head>
    <title>Share </title>
    <link href="style.css" type="text/css" rel="stylesheet" />
  </head>

  <body>
  
    <div class="header">
      <div class="logo">
      </div>
      <p class="title"> ShareKnowledge </p>
      <div class="menubar">
       <ul>
          <a href="/search"><li>Search </li></a>
          <a href="/share"><li>Share</li></a>
           <a href="/myfile"><li>My File</li></a>
          <a href="/logout"><li>Logout</li></a>
        </ul>
      </div>
    </div>

    <div class="container">
      <h1>ShareKnowledge Share Form</h1>
      <form method="post" enctype='multipart/form-data' action="" class="shareform">
        <label>Upload File</label>
        <input type="file" name="file"><br>
        <div class="textarea">
         <p>or</p>
          <P>Shared what you know</P>
        </div>
        <textarea rows="5" cols="57" name="share_text" ></textarea><br>
        <label>Enter Tags</label>
        <input type="text" name="tags">
        <div class="button"> 
          <input type="submit"  value="Share">
          <input type="reset" value="Clear">
        </div>
      </form>
    </div>

    <div class="footer">
      <div class="location">
        <p>Location</p>
        <p>Kathmandu, Nepal</p>
      </div>
      <div class="contact">
        <p> Contact No.</p>
        <p>+977 9818451794</p>
      </div>
      <div class="website">
        <p>Website</p>
        <p>www.jyaasa.com</p>
      </div>
      <div class="social">
        <a href="https://www.facebook.com/pages/Jyaasa/879593435386987" target="_blank">
          <img src="facebook.jpg">
        </a>
        <a href="https://twitter.com/jyaasa" target="_blank">
          <img src="twitter.jpeg">
        </a>
        <a href="https://plus.google.com/105348084839677139527" target="_blank">
          <img src="google.jpg">
        </a>
      </div>
      <div class="copyright">
        <p>© 2014-2015 jyaasa. All rights reserved.</p>
      </div>
    </div>

  </body>

</html>