<!DOCTYPE html>
<html>
<head>
  <title>Video </title>
  <link href="style.css" type="text/css" rel="stylesheet" />
</head>
<body>
<ul>
<h1>Your search videos are:</h1>
<%temp=0%>
  <%if(file_result != nil)%>
  <%file_result.each do|result| %>
    <%if(result.file_file_name=~/#{Regexp.escape(search_text)}/)%>
    <%if(result.file_content_type=~/video/)%>
      <%filename=result.file_file_name%>
     <li><a href="/files/original/<%=filename%>"><%=result.file_file_name %></a></li>
     <%temp=1%>
     <%end%>
     <%end%>
    <%end%>
<%end%>
</ul>
<%if(temp==0)%>
  <p>Videos not found </p>
 <% end%>
</body>
</html>