<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<table cellspacing="4px">
  <tr>
    <td>First Name:</td>
    <td><%=c.first_name %></td></tr>
    <tr><td>LastName: </td>
    <td><%=c.last_name %></td><br></tr>
    <tr><td>Email: </td>
    <td><%=c.email %></td></tr>
</table>
</body>
</html>
